.DS_Store

nbproject/*
user_guide/*

.buildpath
.project
.travis.yml
README.md
license.txt
version.txt

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess